// Base App Color
$special-header-color: #F0F3F4;
$title-text-color: #1F618D;
$subtitle-text-color: #2980B9;
$button-color: #A93226;
$text-color: #7FB3D5;
$link-color: #A93226;


$base-color: #F0F3F4;
$primary-color: #2E86C1;
$secondary-color: #A93226;


$button-colors: #A93226;
$special-white: #e7ebda;
// Color Font
$font-color: black;

// Color Active Font
$font-color-active: black;

//// HEADER ////
// Hamburger Icon Color
$icon-color: black;