<section class="delivery-header">
  <div class="container">
    <div class="delivery-header__content">
      <p class="text-center">
        <span class="delivery-header__text">
          <%= image_tag "special-header/icon.svg", alt: "", width: "41px", height: "24px" %>
          <span>
            <strong><a href="">Header Link</a></strong>
          </span>
        </span>
        <span class="delivery-header__text">
          <%= image_tag "special-header/icon.svg", alt: "", width: "41px", height: "24px" %>
          <span>
            Header Info 2
          </span>
        </span>
      </p>
    </div>
  </div>
</section>